.title {
  color: lightcoral;
}
    
#colorblock {
  background-color: lightcoral;
  height: 70px;
  width: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#boostrap-example {
  margin-top: 10px;
  margin-bottom: 10px;
}