.title {
  color: lightcoral;
}
    
#colorblock {
  background-color: lightcoral;
  height: 70px;
  width: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
}


#bootstrap-example {
  margin-bottom: 20px;
}


#jqeury-example {
margin-top: 20px;
}